<!DOCTYPE html>
<html>
<head>
  <title>moot</title>
  <link rel="stylesheet" href="moot.css">
</head>
<body>
<script src="application.js"></script>
<div class="outer">
  <moot-modal :modal="modal" ref="modal"></moot-modal>
  <div class="split">
    <div class="left">
      <div class="plans">
        <div class="banner">
          <h1><img src="feather/map.svg"> plans</h1>
          <input type="text" class="item" placeholder="add plan" onchange="APP.addPlan(this.value); this.value='';">
        </div>
        <div class="list">
          <div v-if="!plans.length">Add a plan using the input box above</div>
          <moot-plan-line v-for="plan in plans.filter(plan => !plan.finished)" v-bind:plan="plan" :key="plan.name"></moot-plan-line>
          <hr v-if="plans.length">
          <moot-plan-line v-for="plan in plans.filter(plan => plan.finished)" v-bind:plan="plan" :key="plan.name"></moot-plan-line>
        </div>
      </div>
      <div class="requirements">
        <div class="banner">
          <h1><img src="feather/target.svg"> requirements / goals</h1>
          <input type="text" class="item" placeholder="add requirement" onchange="APP.addReq(this.value); this.value='';">
        </div>
        <div class="list">
          <moot-checkable v-for="req in selectedPlan.reqs" v-bind:item="req" v-bind:noun="'req'" :key="req.name"></moot-checkable>
          <div v-if="!selectedPlan.name">Select a plan in the top panel</div>
          <div v-if="selectedPlan.name && !selectedPlan.reqs.length">Add a goal</div>
        </div>
      </div>
      <div class="plan-details">
        <div class="banner">
          <h1><img src="feather/play-circle.svg"> tasks / details</h1>
          <input type="text" class="item" placeholder="add detail / task" onchange="APP.addTask(this.value); this.value='';">
        </div>
        <div class="list">
          <div v-if="!selectedPlan.name">Select a plan in the top panel</div>
          <div v-if="selectedPlan.name && !selectedPlan.tasks.length">Add a task</div>
          <moot-checkable v-for="task in selectedPlan.tasks.filter(task => task.started)" v-bind:item="task" v-bind:noun="'task'" :key="task.name"></moot-checkable>
          <hr v-if="plans.length">
          <moot-checkable v-for="task in selectedPlan.tasks.filter(task => !task.started)" v-bind:item="task" v-bind:noun="'task'" :key="task.name"></moot-checkable>
        </div>
      </div>
    </div>
    <div class="log">
      <div class="banner">
        <h1><img src="feather/activity.svg"> log</h1>
      </div>
      <moot-changelog :change-log="changeLog"></moot-changelog>
    </div>
  </div>
  <div class="nextup">
    <h1 style="display:inline"><img src="feather/gift.svg"> wishlist </h1>
    <input type="text" class="item" placeholder="add icebox" onchange="APP.addNextup(this.value); this.value='';">
  </div>
</div>
<script type="text/javascript">
  var APP = new Application;
  APP.init1(document);
</script>
</body>
</html>
