html, body {height:100%; margin:0; padding:0; background:lightgray; font-family:sans-serif;}
.outer {display:flex; flex-direction:column; height:100%;}
.split {flex-grow:1; width:100%; display:flex; flex-direction:row;}
.left {flex-grow:1; overflow-y:scroll;}
.requirements {border-top:solid 1px black;}
.plan-details {border-top:solid 1px black;}
div.list {padding:10px;}
.log {flex-grow:1; border-left: solid 1px black; overflow-y:scroll;}
div.nextup {flex-grow:0; border-top:solid 1px black; padding:10px;}
input.item {font-size:large; border:solid 1px black; padding:10px 20px;}
a.plan-link {display:block; margin:10px; font-size:large; text-decoration:none; color:black;}
label.item {display:block; margin:10px; font-size:large;}
a.plan-link.highlighted {background-color:#66f; color:white; padding:10px 0;}
div.controls {float:right;}
div.controls span,img {cursor:pointer; margin:0 5px;}
div.banner {background-color:#eee; padding:10px;}
div.banner h1 {margin:8px 0;}

div.modal-background {position:absolute; top:0; left:0; height:100%; width:100%; background:rgba(100,100,100,0.5);}
div.modal {margin:20px; background:white; padding:10px; display:inline-block;}
div.modal-message {}
div.modal-choices {}

/* tooltips from here: https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {position:relative; display:inline-block;}
.tooltip .tooltiptext {visibility:hidden; background-color:black; color:white; text-align:center; padding:5px 10px; border-radius:6px; position:absolute; z-index:10}
.tooltip:hover .tooltiptext {visibility:visible;}
